# env
.env
.env.local

# node
node_modules/

# next
apps/frontend/.next/

# nest
apps/backend/dist/

# firebase (credentials moved to .env)
apps/backend/firebase_admin.json
apps/frontend/firebase.json
apps/frontend/public/firebase-messaging-sw.js

# os
.DS_Store